/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: var(--color-black-2, #353430);
  --accent-color: var(--color-pink-4, #ff8dcb);
  --brand-color: var(--color-pink-3, #ffc2e6);
  --highlight-color: var(--color-black-2, #353430);
  --secondary-color: var(--color-black-2, #353430);
  --secondary-color-o-40: var(--color-black-2-o-40, #35343040);
  --page-background-color: var(--color-pink-1, #fff1f7);
  --page-background-image: url("../images/cover-image-light.png");
  --rec-decor-visibility: hidden;
  --accent-color-hover: rgba(255, 141, 203, 0.4);
  --accent-color-button-hover: rgba(53, 52, 48, 0.4);
}
@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--color-black-2, #353430);
    --accent-color: var(--color-pink-4, #ff8dcb);
    --brand-color: var(--color-pink-3, #ffc2e6);
    --highlight-color: var(--color-black-2, #353430);
    --secondary-color: var(--color-black-2, #353430);
    --secondary-color-o-40: var(--color-black-2-o-40, #35343040);
    --page-background-color: var(--color-pink-1, #fff1f7);
    --page-background-image: url("../images/cover-image-light.png");
    --rec-decor-visibility: hidden;
    --accent-color-hover: rgba(255, 141, 203, 0.4);
    --accent-color-button-hover: rgba(53, 52, 48, 0.4);
  }
}